$color-primary: #3498db;
$color-primary-light: #4aa3df;

$color-secondary: #f3f9fd;
$color-secondary-light: #f6f6f6;
$color-secondary-dark: #e1f0fa;

$color-grey-light: #999;
$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #bababa;

$color-grey-dark: #444;
$color-grey-dark-1: #555;
$color-grey-dark-2: #222;

$color-black: #000;
$color-white: #fff;

$default-font-size: 1.6rem;
